@import url('https://fonts.googleapis.com/css2?family=Jua&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poor+Story&display=swap');


/* 노말라이즈 */
body, ul, li, a {
    margin: 0;
    padding: 0;
    font-family: 'Jua', sans-serif;
}

ul, li {
    list-style: none;
}

a {
    text-decoration: none;
    color: inherit;
}

.con {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.flex {
    display: flex;
}

.none {
    display: none;
}


section {
    margin-top: 100px;
}

/* head.html */
header .top_bar {
    max-width: 1400px;
    height: 130px;
    background-color: #2E407D;
    color: #fff;
    padding: 0 20px;
}

header .top_bar .header_title {
    font-size: 55px;
    /* margin-left: 30px; */
}

header .top_bar p {
    font-size: 40px;
    text-align: right;
    margin: 0;
    /* margin-right: 30px; */
}

header .top_bar span {
    font-size: 20px;
}



nav div ul {
    display: flex;
    justify-content: flex-end;
}

nav .navi_box {
    padding: 10px 0;
    text-align: center;
}

nav div ul li {
    margin-left: 20px;
    width: 160px;
}

nav div ul li a::after {
    width: 0%;
    transition: width 0.9s;
    content: "";
    position: absolute;
    height: 1.5px;
    background-color: #000;
    bottom: 0;
    left: 0;
}

nav div ul li:hover a::after {
    width: 100%;
    transition: width 0.3s;
}

nav div ul li a {
    padding: 10px 30px;
    display: block;
    font-weight: bold;
    font-family: 'Poor Story', cursive;
    position: relative;
    
    }

/* index.html */
/* section > article { */
section {
    width: 100%;
    /* height: 600px; */
    /* position: relative; */
}


section > article .img_box {
    display: flex;
    height: 100%;
}

section.index_section article {
    display: flex;
    justify-content: space-between;
}

section article.pr .main_pr {
    font-size: 30px;
    margin-left: 100px;
    margin-top: 50px;
}


section article.pr .main_pr p:nth-child(2) {
    font-size: 40px;
    color: #858282;
}

section article.pr2 {
    margin-top: 100px;
    padding: 30px;
}

section article.pr2 .my_img2 {
    width: 70%;
}

section article.pr2 img {
    width: 80%;
    margin-top: 70px;
}

section article.pr2 .main_pr2 p { 
    width: 100%;
    font-size: 17px;
}

section article.pr2 .main_pr2 p:first-child {
    color: #858282;
}

section article.pr2 .main_pr2 p strong {
    font-size: 24px;
}

section article.pr2 .main_pr2 p.color {
    color: #858282;
    font-size: 30px;
}



section > article > div > div:first-child {
    width: 450px;
    height: 601px;
}

section > article > div > div:last-child {
    width: 600px;
    height: 100%;
}
section > article > div > div:first-child img {
    width: 100%;
    height: 100%;   
}

section article div > div:last-child {
    position: relative;
    width: 100%;
    height: 100%;
}

section > article > div > div:last-child img {
    width: 664px;
    height: 415px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

section > article > div > div:last-child .main_text_box {
    width: 710px;
    height: 601px;
    background-color: #2E407D;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

section > article > div > div:last-child .main_text_box div {
    width: 450px;
    height: 100px;
    margin-bottom: 70px;

}

section > article > div > div:last-child .main_text_box div p {
    font-size: 25px;
    color: #CAABAB;
}

/* 
section > article > div:first-child {
    background-color: #F94C4C;
    width: 400px;
    height: 400px;
    position: absolute;
    bottom: 0;
    left: 100px;
}

section > article > div:nth-child(2) {
    background-color: #374AF4;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 100px;
    left: 400px;
}

section > article > div:nth-child(3) {
    background-color: #F6EA7C;
    width: 300px;
    height: 300px;
    position: absolute;
    bottom: 0;
    left: 600px;
}

section > article > div:nth-child(4) {
    background-color: #47F497;
    width: 300px;
    height: 300px;
    position: absolute;
    top: 100px;
    right: 300px;
}
*/

/* skill.html */



.skill_ide_box div {
    display: flex;
    justify-content: space-around;
}

.skill_ide_box article > div {
    border: 3px solid #000;
    width: 100px;
    padding: 10px 0;
    margin-top: 20px;
    margin-left: 20px;
    font-size: 28px;
}

.skill_ide_box article ul {
    margin-left: 100px;
    margin-top: 40px;
}

.skill_ide_box article ul li {
    list-style: square;
    margin-bottom: 10px;
}

.skill_ide_box .skill_box div {
    color: #fff;
    border-color: #fff;
}
.skill_ide_box .skill_box {
    color: #fff;
}

.skill_ide_box div .ide_box {
    width: 400px;
    height: 600px;
    background-color: #EBEBEB;
}

.skill_ide_box div .skill_box {
    width: 550px;
    height: 600px;
    background-color: #23194B;
}

.skill_bottom span  {
    color:rgb(200, 203, 212);
    margin-left: 150px;
    margin-top: 50px;
    display: inline-block;
    font-size: 25px;
    
}

/* process.html */

.process_box {
    /* height: calc(600px - 35px); */
}

.process_box p {
    font-size: 35px;
}

.process_box table {
    border-collapse: separate;
    border-spacing: 15px;
    margin: auto;

}

.process_box table th, td {
    border: 1px solid #000;
    padding: 10px;
}

.process_box table td {
    background-color: #E8E6E5;
}

.process_box table tr:nth-child(2n + 1) {
    background-color: #F65454;
}

.process_box table tr:nth-child(2n) {
    background-color: #734E4E;
}

.process_box table tr:nth-child(2n) th {
    color: #fff;
    font-weight: normal;
}


/* site_list.html */
.site_list_box {
    /* height: calc(600px - 50px); */
}
.site_list_box table  {
    border-collapse: collapse;
    margin: auto;
    margin-top: 50px;
}

.site_list_box table ul li {
    list-style: square;
    margin-left: 20px;
}

.site_list_box table ul li a {
    color:rgb(20, 51, 134);
    font-weight: bold;
}

.site_list_box table ul li a.pull {
    color:rgb(242, 150, 22);
}
.site_list_box table th, td {
    border: 1px solid #000;
    padding: 10px;
}




.site_list_box table tr th:first-child {
    width: 150px;
    background-color: #30d8d8;
}

.site_list_box table tr th:last-child {
    width: 700px;
    background-color: #30d8d8;
}

.site_list_box table tr td:first-child {
    text-align: center;
    font-size: 20px;
}

.site_list_box  p {
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
}

/* interested.html */

.interested_box {
    height: calc(600px - 35px);
}
.interested_box >  p {
    font-size: 35px;
    text-decoration-line:underline;
    text-underline-position: under;
}


.interested_box article .article_box_1 {
    display: flex;
    text-align: center;
}

.interested_box article .article_box_1 div:nth-child(1){
    width: 300px;
    border: 1px solid #000;
    margin-right: 30px;
    padding: 60px 0;
}

.interested_box article .article_box_1 div:nth-child(2){
    width: 80px;
    /* padding: 30px 0; */
    border: 1px solid #000;
    line-height: 140px;
}

.interested_box article.article_box {
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.interested_box article.article_box .article_box_2 li  {
    list-style: disc;
    margin-left: 20px;
    padding: 20px;
    font-size: 25px;
}

.interested_box .container {
    display: flex;
    justify-content: space-between;
}

.interested_box .container .img_box {
    border: 3px solid rgb(190, 190, 190);
    width: 500px;
    padding: 20px;
    border-radius: 20px;
}
.interested_box .container .img_box div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 0;
}

.interested_box .container .img_box span {
    font-weight: bold;
    font-size: 35px;
}

.interested_box .container .img_box img {
    width: 80px;
}

/* about_me.html */

section.about_me h1 {
    font-size: 30px;
    border-bottom: 1px solid #bebdbd;
}

section.about_me h1 span {
    color:rgb(200, 203, 212);

}
section.about_me article  {
    width: 800px;
    margin: 0 auto;
}

section.about_me article div {
    display: flex;
    justify-content: space-between;
}

section.about_me article div span {
    margin: 20px;
    width: 70px;
    height: 70px;
    line-height: 70px;
    display: inline-block;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
    background-color: rgb(242, 150, 22);
    color: #fff;
}

section.about_me .bad div span {
    background-color: rgb(20, 51, 134);
    
}

section.about_me .bad h2 {
    text-align: center;

}

section.about_me .bad h2 span {
    color: #ff0000;
}


section.about_me .bad {
    margin-top: 100px;
}







/* footer.html */

footer {
    margin-top: 80px;
    margin-bottom: 30px;
}
footer .footer_box  img {
    width: 40px;
    height: 35px;
}

footer .footer_box ul {
    display: flex;
}

footer .footer_box ul li a {
    display: flex;
    padding: 0 30px;
    align-items: center;
    margin-right: 20px;
}

footer .footer_box ul li a:hover {
    transform: rotate(-7deg);
    transition: transform 0.6s;
}



@media screen and (min-width: 1000px) {
    .m {
        display: none;
    }
}

@media screen and (max-width: 1000px) {
    .pc {
        display: none;
    }
    .con {
        margin: 0 auto;
    }

    section {
        margin-top: 180px !important;
    }

    /* index.html */
    section.index_section article {
        display: block;
    }

    section article.pr .main_pr {
        margin: unset;
    }

    section article.pr  {
        text-align: center;
        padding: 30px;
    }

    section article.pr img {
        width: 100%;
    }

    section article.pr .my_img {
        margin-top: 100px;
    }


    section article.pr .my_img span {
        background-color: #2E407D;
        height: 100px;
        display: block;
        margin-top: 20px;
        line-height: 100px;
        color: #fff;
        font-size: 30px;
        width: 100%;
    }

    section article.pr .main_pr p:nth-child(2) {
        font-size: 30px;
    }

    section article.pr2 {
        margin-top: 50px;
        text-align: center;
    }

    section article.pr2 .my_img2 {
        width: 100%;
    }

    section article.pr2 img {
        width: 100%;
    }

    section article.pr2 .main_pr2 p.color {
        font-size: 25px;
    }



    /* header.html */
    header .top_bar .header_title {
        font-size: 30px;
    }

    header .top_bar p {
        font-size: 16px;
        margin-top: 50px;
    }

    header .top_bar {
        padding: 10px;
        height: 40px;
    }

    header .top_bar .header_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    header .top_bar .btn-toggle {
        width: 30px;
        height: 30px;
        padding: 5px;
    }

    header .top_bar .btn-toggle div {
        height: 3px;
        background-color: #fff;
        margin: 6px 0;
    }

    header .top_bar .btn-toggle:hover {
        cursor: pointer;
    }   

    header {
        position: fixed;
        width: 100%;
        top: 0;
        left: 0;
    }

    nav {
        position: fixed;
        width: 100%;
        right: -100%;
        top: 60px;
        z-index: 1;
        transition: right 0.3s;
    }


    nav .navi_box {
        display: flex;
        justify-content: center;
        background-color: #2E407D;
        height: 100vh;
        width: 60%;
        margin-left: auto;
        margin-right: 0;
    }

    nav .navi_box ul {
        display: block;
        margin-top: 50px;
    }

    nav div ul li {
        margin-left: unset;
        width: 200px;
    }

    nav div ul li a {
        padding: 20px 30px;
        color: #fff;
        font-size: 18px;

    }

    nav div ul li:hover a {
        color: #858282;
    }

    nav div ul li:hover a::after {
        width: 0;
    }

    


    /* skill.html */
    .skill_ide_box h1 {
        margin-left: 30px;
    }

    .skill_ide_box div {
        display: block;
    }

    .skill_ide_box div .ide_box {
        margin: 0 auto;
        width: 80%;
        padding: 10px;
    }

    .skill_ide_box div .skill_box {
        margin: 0 auto;
        margin-top: 100px;
        width: 80%;
        padding: 10px;
    }

    .skill_ide_box article > div {
        text-align: center;
    }

    .skill_bottom  {
        text-align: center;
        margin: 50px 0 100px;
    }

    .skill_bottom span {
        margin-left: 0;
        font-size: 18px;
        margin: 50px 10px;
    }

    /* process.html */
    .process_box {
        height: unset;
        margin-bottom: 100px;
    }

    /* interested.html */

    .interested_box {
        height: unset;
    }
    .interested_box p {
        text-align: center;
    }

    .interested_box .container {
        display: block;
    }

    .interested_box article.article_box {
        justify-content: unset;
        align-items: center;
    }

    .interested_box article.article_box .article_box_2 {
        margin-top: 50px;
        
    }

    .interested_box .container .img_box {
        width: unset;
        margin: 200px 30px 100px;
    }

    .interested_box article .article_box_1 {
        display: flex;
        text-align: center;
        flex-direction: column;
        margin: 0 auto;
        align-items: center;
    }

    .interested_box article .article_box_1 div:nth-child(1) {
        margin-right: unset;
    }

    .interested_box article .article_box_1 div:nth-child(2) {
        margin-top: 50px;
    }
    
    /* site_list.html */
    .site_list_box {
        height: unset;
    }

    .site_list_box p {
        margin: 100px auto;
    }

    .site_list_box table {
        margin: 50px 10px 50px;
    }

    /* about_me.html */
    section.about_me h1 {
        margin: 0 20px;
        font-size: 20px;
    }

    section.about_me article {
        width: unset;
    }

    section.about_me article div span {
        font-size: 12px;
        width: 60px;
        height: 30px;
        line-height: 30px;
    }

    section.about_me .bad {
        margin: 100px 0;
    }

    section.about_me .bad h2 {
        font-size: 16px;
    }

    

    

    /* footer.html */
    footer .footer_box ul li a {
        justify-content: center;
        margin-bottom: 20px;
    }
    footer .footer_box ul {
        display: block;
    }
}